{% include 'navbar.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Time-Table Lecture Planner Scheduling">
    <title>Time-Table Generator</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body >
    <div class="bg">
        <div class="intro">
            <div class="text1" >Welcome </div><br>
            <div class="t2"> An efficient way of generating Time-Table</div>
            {%if user.is_authenticated%}
            <div class="t"><a style="color:black ; text-decoration:none;" href="{% url 'generate' %}"><strong>Generate Now</strong></a></div><br>
            {%else%}
            <div class="b">
                <div class="t"><a style="color:black ; text-decoration:none;" href="{% url 'register' %}"><strong>Register Now</strong></a></div><br>
                <div class="tn"><a style="color:black ; text-decoration:none;" href="{% url 'login' %}"><strong>Login</strong></a></div><br>
            </div>
            {%endif%}
            <div class="it3"><img id="" src="{% static 'account/img2.png' %}" alt="timetable"></div>
        </div>
    </div>

    
    
    <script src="{% static 'js/home.js'%}"></script>

</body>
</html>
{% endblock %}