{% include "navbar.html" %}

{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timetable Generator</title>
    <style>
        p{
            font-size: large;
            font-family: 'Times New Roman', Times, serif;
        }
        h1{
            font-family: 'Times New Roman', Times, serif;
        }
    </style>
</head>
<body>
    <h1>This is info page</h1><br>
    <br>
    <p >In Educational institutes, it is important to have a proper timetable
        scheduled. Every semester there is a limited time and every subject needs a
        different amount of time to complete. Therefore, it is important to schedule an
        efficient timetable so that the right amount of time is allotted to the subjects. The
        person responsible for this task manually may have to do lots of permutations and
        combinations to reach a perfect timetable. This may result in the consumption of
        a lot of time and energy. Also, this perfectly scheduled timetable may have to be
        changed at any time for many reasons .There is no certainty for this timetable to
        be perfect for the whole semester. Now if this happens too many times,
        generatinga timetable every time may not be possible and may develop lots of
        confusion in daily routine. Therefore, a Timetable Generator is very essential in
        educational institutes. Generating a perfect Timetable in a lesser time will get
        easy. All the complex permutations and combinations will be performed by the
        system very efficiently. The person responsible for generating a timetable will
        not have to worry about time clashes. The system will provide easy and less
        complicated interface making it easy for the user to make use of it. The user will
        have to provide inputs like subject name, number of classrooms, batches,
        timeslots. The system will have a well-designed database to store all the inputs
        by the user. This data will be analyzed by the algorithm. Teachers and students
        won't be required to note the timetable. They will be able to view the timetable
        with ease.</p>
</body>
</html>
{% endblock %}