{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <title>Timetable Generator</title>
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <a href="#" class="nav-logo"><i class="fa fa-calendar" style="font-size:24px"></i> TimeTableGenerator</a>
            <ul class="nav-menu">
                <li class="nav-item">
                    <a href="{% url 'home' %}" class="nav-link"><i class="fa fa-fw fa-home"></i> Home</a>
                </li>
                {%if user.is_authenticated%}
                <li class="nav-item">
                    <a href="{% url 'logout' %}" class="nav-link"><i class="fa fa-fw fa-user"></i>Logout</a>
                </li>
                {%else%}
                <li class="nav-item">
                    <a href="{% url 'login' %}" class="nav-link"><i class="fa fa-fw fa-user"></i> Login</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'register' %}" class="nav-link"><i class="fa fa-fw fa-user"></i>Register</a>
                </li>
                {%endif%}
                <li class="nav-item">
                    <a href="{% url 'contact' %}" class="nav-link"><i class="fa fa-fw fa-envelope"></i>Contact</a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'info' %}" class="nav-link"><i class="fa fa-info-circle"></i>Info</a>
                </li>
            </ul>
            <div class="hamburger">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>
    <script src="{% static 'js/navbar.js'%}"></script>
</body>
</html>